.header{
     height: 80px;
     background-color: #1C2B35;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding-left: 112px;
     padding-right: 112px;
}

.header a{
     color: #FFFFFF;
     text-decoration: none;
     font-size: 17px;
     margin-left: 36px;
}

.header a:hover{
     color: orange;
}
.header span{
     color: #FFFFFF;
}
.btn-logOut{
     margin-left: 60px;
}
